CompileFlags:
  Add:
    - -I.
    - -Iinclude
    - -Iexternal/mewjector
    - -Iexternal/steam
    - -Iexternal/imgui
    - -Iexternal/kiero
    - -Iexternal/kiero/minhook/include
    - -D_CRT_SECURE_NO_WARNINGS
    - -std=c++17
    - -fms-extensions
    - -fms-compatibility
    - -Wno-microsoft-enum-forward-reference
    - -Wno-ignored-attributes
    - -Wno-unknown-pragmas
    - -x
    - c++
    - --target=x86_64-w64-mingw32
    - -isystem
    - /usr/lib/gcc/x86_64-w64-mingw32/16.1.0/../../../../x86_64-w64-mingw32/include/c++/16.1.0
    - -isystem
    - /usr/lib/gcc/x86_64-w64-mingw32/16.1.0/../../../../x86_64-w64-mingw32/include/c++/16.1.0/x86_64-w64-mingw32
    - -isystem
    - /usr/lib/gcc/x86_64-w64-mingw32/16.1.0/include
    - -isystem
    - /usr/lib/gcc/x86_64-w64-mingw32/16.1.0/include-fixed
    - -isystem
    - /usr/lib/gcc/x86_64-w64-mingw32/16.1.0/../../../../x86_64-w64-mingw32/include

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
