default RCDATA "resources/default.png"
grab RCDATA "resources/grab.png"
grabr RCDATA "resources/grabr.png"
pet_frame1 RCDATA "resources/pet_frame1.png"
pet_frame2 RCDATA "resources/pet_frame2.png"
pet_frame3 RCDATA "resources/pet_frame3.png"
pet_frame4 RCDATA "resources/pet_frame4.png"
attack RCDATA "resources/attack.png"
attack_hastargets RCDATA "resources/attack_hastargets.png"
btn_over RCDATA "resources/btn_over.png"
examine RCDATA "resources/examine.png"
heal RCDATA "resources/heal.png"
heal_hastargets RCDATA "resources/heal_hastargets.png"
invalid RCDATA "resources/invalid.png"
move RCDATA "resources/move.png"
move_hastargets RCDATA "resources/move_hastargets.png"
question RCDATA "resources/question.png"
spell RCDATA "resources/spell.png"
spell_hastargets RCDATA "resources/spell_hastargets.png"
hotspots RCDATA "resources/hotspots.txt"
