default RCDATA "cursor/default.png"
grab RCDATA "cursor/grab.png"
grabr RCDATA "cursor/grabr.png"
pet_frame1 RCDATA "cursor/pet_frame1.png"
pet_frame2 RCDATA "cursor/pet_frame2.png"
pet_frame3 RCDATA "cursor/pet_frame3.png"
pet_frame4 RCDATA "cursor/pet_frame4.png"
attack RCDATA "cursor/attack.png"
attack_hastargets RCDATA "cursor/attack_hastargets.png"
btn_over RCDATA "cursor/btn_over.png"
examine RCDATA "cursor/examine.png"
heal RCDATA "cursor/heal.png"
heal_hastargets RCDATA "cursor/heal_hastargets.png"
invalid RCDATA "cursor/invalid.png"
move RCDATA "cursor/move.png"
move_hastargets RCDATA "cursor/move_hastargets.png"
question RCDATA "cursor/question.png"
spell RCDATA "cursor/spell.png"
spell_hastargets RCDATA "cursor/spell_hastargets.png"
hotspots RCDATA "cursor/hotspots.txt"
